<article class="welcome container">
    <header>
        <h1>What is this project?</h1>
    </header>

    <h2>Aims and target audience</h2>

    <p>This project is an attempt to provide an easy to use interactive resource listing of the classification of organisms and their relationships between one another, the tree of life.</p>

    <p>It is targeted at anyone who is interested in life on the planet, from the layman to a researcher. Hopefully everyone will find it intesting and useful.</p>

    <h2>Accuracy and errors</h2>

    <p>I do not claim to be a top level researcher in the field, indeed I am just a self-educated layman. With that in mind if you spot any errors please report them to <a href="mailto:lsjroberts@outlook.com">lsjroberts@outlook.com</a> and I'll look into them.</p>

    <h3>Sources of data and differences between them</h3>

    <p>Various sources list taxonomies and clades differently, indeed there is a mixture of information between the two fields. You can switch which source you are retrieving the data from in the 'Advanced' panel when searching or browsing as well as switch between taxonomic and cladistic structures.</p>

    <p>If you spot something you consider an error, check the available sources and if that matches the one you are studying from (or indeed writing). If your source is not there please get in contact still and suggest it as a new source of data.</p>

    <h2>Definitions</h2>

    <p><strong>Taxonomy</strong> is the classification of organisms into ranked trees based on similarities and differences. Historically this was based on phenotypes; the visible appearance and behaviour. More recently this has moved to be derived from genetics.</p>

    <p><strong>Cladistics</strong> is the grouping of organisms based on shared unique characteristics that come from the group's last common ancestor and are not present in more distant ancestors.</p>
</article>